
html {
	height: 100%;
}

body, #__nuxt, #__layout, .app {
	height: inherit;
	margin: 0;
}

*, :after, :before {
	box-sizing: border-box;
}

a {
	color: #333;
	text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

b, strong {
	font-weight: bolder;
}

*:focus {
	outline: 0;
}

body {
	padding-top: 56px!important;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	transition: all .8s;
	//padding-top: 56px;

	&>.el-row {
		padding-top: 30px;
	}
}

.el-button--mini {
	
	i.iconfont {
		font-size: 12px;
	}
}

.el-progress-bar__inner {
	transition: all .8s;
}

@media (max-width: 1332px) {
	.container {
			width: 960px;
	}
}

@media (max-width: 1080px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		//width: 960px;
	}
}

@media (min-width: 992px) {
	.container {
		//width: 960px;
	}
}