
.navbar {
	background-color: #ffffff;
	border-bottom: 1px #f0f0f0 solid;
	height: 56px;

	&::before {
		content: '';
    display: table;
	}

	.width-limit {
    //min-width: 768px;
    max-width: 1440px;
    margin: 0px auto;
    padding-right: 10px;
		
		.logo {
			float: left;
			height: 56px;
			padding: 0 20px;
			display: flex;
			align-items: center;

			img {
				height: 30px;
			}
    }
    
    .menu {
      position: absolute;
			top: -60px;
			right: 0;
			transition: all .8s;
			padding: 15px;
			
			i {
				font-size: 24px;
				color: #969996;

				&::before {
    			transition: all .8s ;
				}

				&:hover {
					color: #666666;
				}
			}
    }

		.btn {
			//display: inline-block;
			float: right;
			font-weight: 400;
    	text-align: center;
			vertical-align: middle;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none;
			white-space: nowrap;
			padding: 6px 12px;
			user-select: none;
		}

		.register {
			width: 80px;
			height: 38px;
			line-height: 24px;
			margin: 9px 5px 0 15px;
			border: 1px solid rgba(236,97,73,.7);
			border-radius: 20px;
			font-size: 15px;
			color: #ea6f5a;
			background-color: transparent;
		}

		.login {
			float: right;
			margin: 11px 6px 0 10px;
			font-size: 15px;
			color: #969996;
		}

		.navbar-collapse {
			margin: auto;
			padding: 0 15px;
			width: 960px;
			height: 56px;

			.btn {
				float: left;
				padding: 18px 15px 0 15px;
				font-size: 15px;
				color: #666666;
				height: 100%;
				//margin-right: 15px;

				&:hover {
					background-color: #d3dce7;
				}

        &.nuxt-link-active, &.nuxt-link-exact-active {
					color: #ea6f5a;
					
					&:hover {
						background-color: transparent;
					}
				}
				
				&:first-of-type {
					&.nuxt-link-active {
						color: #666666;
					}
					&.nuxt-link-exact-active {
						color: #ea6f5a;
					}
				}
			}

			.search {
				float: left;
				height: inherit;
				margin-left: 15px;
			}
		}
	}
}


.search, .nav_search {

	form {
		position: relative;
		top: 9px;

		.search-input {
			padding: 0 40px 0 20px;
			width: 160px;
			height: 38px;
			font-size: 14px;
			border: 1px solid #eee;
			border-radius: 40px;
			background: #eee;
			transition: all .8s ease;

			&:focus {
				width: 240px;
			}
		}

		.search-btn {
			position: absolute;
			top: 4px;
			right: 5px;
			width: 30px;
			height: 30px!important;
			line-height: normal!important;
			padding: 0!important;
			color: #969696!important;
			text-align: center;

			i {
				margin: 5px -1px 0 0;
				display: block;
				font-size: 18px;
			}
		}
	}
}

.nav-dropdown {
	position: fixed;
	z-index: 99999;
	transition: all .8s ease;
	overflow-y: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 56px;
	display: none;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #fff;
		
		li {
			border-bottom: 1px #f0f0f0 solid;
			height: 50px;
			
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				height: inherit;
				color: #969696;
			}

			a.nuxt-link-active, a.nuxt-link-exact-active {
				color: #ea6f5a;
				
				&:hover {
					background-color: transparent;
				}
			}
			
			&:first-of-type {
				a.nuxt-link-active {
					color: #666666;
				}
				a.nuxt-link-exact-active {
					color: #ea6f5a;
				}
			}
		}
	}

	.nav_search {
		height: 56px;
    background-color: #fff;
    border-bottom: 1px #f0f0f0 solid;

		li {
			height: 56px;
		}

		form {
			margin: 0 12px;

			.search-input {
				width: 100%;
			}

			.search-btn {
	
				i {
					margin-top: 4px;
				}
			}
		}
	}
}

@media (max-width: 1332px) {
	.navbar {
		.width-limit {

			.navbar-collapse {
				width: 750px;
			}
		}
	}
}

@media (max-width: 1132px) {
	.navbar {
		.width-limit {

			.navbar-collapse {
				width: auto;
				min-width: 400px;
				//float: left;
				
				.search {
					form {
						.search-input {

							&:focus {
								width: 160px;
							}
							
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.navbar {
		.width-limit {
			min-width: 304px;

			.menu {
				top: 0px;
			}
			
			.btn {
				display: none;
			}

			.navbar-collapse {
				display: none;
			}
		}
	}

	.nav-dropdown {
		display: block;
	}
	
	.nav-hidden {
		bottom: 1000px;
		top: -946px;
	}
}